---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import Title from "../../components/Title.astro";
const pageTitle = "Articles";
---
<BaseLayout pageTitle={pageTitle}>
	<Title pageTitle={pageTitle} />
	<Section title="Under construction. Check back later!">
	</Section>
</BaseLayout>
