---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Link from "../components/link.astro";
const pageTitle = "404 Not Found";
---
<BaseLayout pageTitle={pageTitle}>
	<Title pageTitle={pageTitle} />
    <Section title="Oops...">
        <p>The page you're looking for can't be found at this time...</p>
        <br>
        <p><Link href="/">Go Home</Link></p>
    </Section>
</BaseLayout>
