---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Link from "../components/link.astro";
const pageTitle = "About | Joshua Coquia";
---
<BaseLayout pageTitle={pageTitle}>
	<Title pageTitle={"About"} />
	<Section title="Hi, I'm Joshua Coquia.">
		<p>I spend my free time on Google learning stuff. Why?</p>
		<p>My journey started when I was given a Rubik’s Cube for my birthday. I was never able to solve the cube on my own, but a friend sent me a YouTube tutorial on how to solve the cube. This guide changed everything for me—I was able to understand how to solve the cube within a few hours, versus not being able to at all. I had one thought… “If I can learn this, what else can I learn?”</p>
		<p>And then I started learning.</p>
		<p>I don’t know how much I’ve learned since then, but I know I’ve become more resourceful. Whenever I don’t know something, one of my first instincts is to look for it on Google. This habit enabled me to learn so much more. Google became my first source for most of my knowledge. That being said though, I still realize I’m a very naive person—I know I can still learn so much more.</p>
	</Section>
	<Section title="Main Skills">
		<h3 class="font-bold font-montserrat">Speedcubing</h3>
		<p>Check out my official results on my <Link href="https://worldcubeassociation.org/persons/2023COQU02">WCA Profile</a>.</p>
		<p>I can solve the 3x3 cube consistently under 20 seconds, and my personal record is 8.95 seconds. I use the CFOP method—the most popular method for solving the Rubik’s Cube quickly.</p>
		<h3 class="font-bold font-montserrat">Web Development</h3>
		<p>Check out <Link href="/">my personal website</a>.</p>
		<p>I am a front-end developer with experience in back-end development. My personal website is deployed on Firebase and is built using Astro, React, and Tailwind.</p>
		<p>Technologies list: HTML, React, Astro, CSS, SCSS, Tailwind, JavaScript, TypeScript, Node.js, Express.js, Firebase.</p>
	</Section>
	<Section title="Follow My Journey">
		<p>I’m using my personal website to record the lessons and skills I’ve learned. I hope that through my lessons and my journey, I can inspire you and empower you through your own journey.</p>
		<p>Read my articles here: <Link href="https://joshuacoquia.com/articles">https://joshuacoquia.com/articles</Link></p>
	</Section>
</BaseLayout>
