---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Articles";
---
<BaseLayout pageTitle={pageTitle}>
	<section id="title"><h2>Articles</h2></section>
	<section>
		<h3>Featured Articles</h3>
		<!--TODO:Create Articles List + Article Preview Components-->
	</section>
	<section>
		<h3>Recent Articles</h3>
		<!--TODO:Create Articles List + Article Preview Components-->
	</section>
</BaseLayout>
