---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Articles - Joshua Coquia's Website</title>
	</head>
	<body>
		<Header />
			<section id="title"><h2>Articles</h2></section>
			<section>
				<h3>Featured Articles</h3>
				<!--TODO:Create Articles List + Article Preview Components-->
			</section>
			<section>
				<h3>Recent Articles</h3>
				<!--TODO:Create Articles List + Article Preview Components-->
			</section>
		<Footer />
	</body>
</html>
