---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.astro";
const pageTitle = "Articles";
---
<BaseLayout pageTitle={pageTitle}>
	<Title pageTitle={pageTitle} />
	<section>
		<h3>Featured Articles</h3>
		<!--TODO:Create Articles List + Article Preview Components-->
	</section>
	<section>
		<h3>Recent Articles</h3>
		<!--TODO:Create Articles List + Article Preview Components-->
	</section>
</BaseLayout>
