---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<script src="../components/firebase"></script>
		<title>Buy Cross Pen</title>
        <meta http-equiv="refresh" content="0; url=https://youtu.be/dQw4w9WgXcQ?si=Mcm8lMcU7hLC5G-J" />
	</head>
	<body class="bg-background text-oceanblue-950 w-full min-h-screen flex flex-col justify-between">
        <p><a href="https://youtu.be/dQw4w9WgXcQ?si=Mcm8lMcU7hLC5G-J">Redirect</a></p>
    </body>
</html>
