---
import CTABtn from "../components/CTABtn.astro";
const pageDescription = "Buy the pen that lasts longer than most marriages!";
const pageTitle = "Cross Pen—The Lifelong Pen";
import Section from "../components/Section.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pageDescription} />
		<meta name="robots" content="noindex">
		<script src="../components/firebase"></script>
		<title>{pageTitle ? pageTitle : "Joshua Coquia"}</title>
	</head>
	<body class="bg-background text-text w-full min-h-screen flex flex-col justify-between">
		<main class="grid w-full gap-10 lg:gap-20 pb-10 lg:pb-20">
            <section class="px-12 lg:px-20 py-6 pb-12 w-auto grid lg:grid-cols-2 lg:pt-12 justify-center max-lg:text-center max-lg:gap-20" id="hero">
				<div class="flex flex-col">
					<h2 class="text-3xl lg:text-4xl font-bold">A Pen that Lasts for Life</h2>
					<p class="text-xl lg:text-2xl mb-8">The highest quality pen bundled with a lifetime warranty</p>
					<br>
					<div class="w-fit flex flex-col mt-auto max-lg:mx-auto my-3">
						<CTABtn bgcolor="secret-red" textcolor="background" href="/buy-cross-pen?utm_source=landing-page&utm_medium=website&utm_campaign=cta-button">Purchase Now</CTABtn>
					</div>
					<p class="lg:text-xl"><strong>5/5</strong> "It lasted longer than my marriage!" - Brendan B.</p>
				</div>
				<img src="/images/cross-pen-heroimage.jpg" class="lg:justify-self-end h-auto" alt="Person showcasing an open box with Cross Pen inside" width="720px">
            </section>
			<hr>
			<Section notprose title="Buy the pen that lasts longer than most marriages!" col="1" centerTitle>
				<section class="text-center p-10 lg:p-20">
					<h3 class="text-xl font-bold">Premium Quality</h3>
					<p>Our pens are only made with the finest attention to detail and the highest quality materials.</p>
				</section>
				<section class="text-center p-10 lg:p-20">
					<h3 class="text-xl font-bold">Lifetime Warranty</h3>
					<p>We're so confident in the quality of our pens that we give you a lifetime warranty!</p>
				</section>
				<section class="text-center p-10 lg:p-20">
					<h3 class="text-xl font-bold">Refillable Ink</h3>
					<p>Ran out of ink? It's easy to replace!</p>
				</section>
			</Section>
			<hr>
			<Section notprose centerTitle title="Used by people just like you!" col="3">
				<section class="p-10 lg:p-20">
					<p class="text-xl"><strong>My best gift ever!</strong></p>
					<p class="text-lg">Joshua C.</p>
				</section>
				<section class="p-10 lg:p-20">
					<p class="text-xl"><strong>Endorsed by cripples!</strong></p>
					<p class="text-lg">Tyson F.</p>
				</section>
				<section class="p-10 lg:p-20">
					<p class="text-xl"><strong>Lasted longer than my marriage!</strong></p>
					<p class="text-lg">Brendan B.</p>
				</section>
			</Section>
			<hr>
			<Section centerTitle title="Frequently Asked Questions">
				<ul class="max-lg:mt-20 grid max-lg:gap-20">
					<li>
						<p><strong>Q: Why this pen?</strong></p>
						<p><strong>A:</strong> This pen is for those who want a premium writing experience. This pen is expensive, but it'll give you the best writing experience you've ever had. Buy once, use forever!</p>
					</li>
					<li>
						<p><strong>Q: Why is it so expensive?</strong></p>
						<p><strong>A:</strong> This is to cover the costs of the materials of our pen as well as the attention to detail in the design of the pen.</p>
					</li>
					<li>
						<p><strong>Q: Is this pen durable?</strong></p>
						<p><strong>A:</strong> This pen was made with the highest quality materials and the best craftsmanship. If your pen happens to be defective, it's covered under the lifetime warranty.</p>
					</li> 
				</ul>
			</Section>
			<hr>
			<Section notprose centerTitle title="Get the pen that lasts a lifetime">
				<br>
				<div class="grid grid-flow-row justify-center">
					<CTABtn bgcolor="secret-red" textcolor="background" href="/buy-cross-pen?utm_source=landing-page&utm_medium=website&utm_campaign=cta-button">Purchase Now</CTABtn>
				</div>
			</Section>
			<Section notprose>
				<p><strong>NOTE:</strong> This website is not affiliated with A.T. Cross Pen Company.</p>
			</Section>
            <div class="flex-grow"></div>
        </main>
	</body>
</html>
