---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Joshua Coquia";
---
<BaseLayout pageTitle={pageTitle}>
	<section id="hero">
		<h2>Joshua Coquia</h2>
		<p>Lifelong Learner - Recording the journey.</p>
		<a href="/about">Learn More</a>
		<a href="/contact">Contact Me</a>
	</section>
	<section>
		<h3>Hi, I'm Joshua Coquia.</h3>
		<p>I am a lifelong learner, and I focus on learning skills. I use this website to document my journey in mastering these skills. I hope <a href="/about">my journey</a> inspires you to improve your own life.</a></p>
	</section>
	<section>
		<h3>Featured Articles</h3>
		<!--TODO:Create Articles List + Article Preview Components-->
	</section>
</BaseLayout>
