---
import ArticleList from "../components/ArticleList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CTABtn from "../components/CTABtn.astro";
import Section from "../components/Section.astro";
const pageTitle = "Joshua Coquia";
---
<BaseLayout pageTitle={pageTitle}>
	<section class="bg-primary px-12 lg:px-20 py-6 w-auto" id="hero">
		<h1 class="text-3xl lg:text-4xl font-bold">Joshua Coquia</h2>
		<p class="text-xl lg:text-2xl mb-8">Lifelong Learner—Recording the journey.</p>
		<div class="grid grid-rows-2 lg:grid-cols-2 gap-3 w-fit">
			<CTABtn bgcolor="accent" textcolor="background" href="/about">Learn More</CTABtn><CTABtn bgcolor="secondary" textcolor="background" href="mailto:joshua.coquia@hotmail.com">Contact Me</CTABtn>
		</div>
	</section>
	<Section title="Hi, I'm Joshua Coquia.">
		<p>I am a lifelong learner, and I focus on learning skills. I use this website to document my journey in mastering these skills. I hope <a href="/about">my journey</a> inspires you to improve your own life.</p>
	</Section>
	<ArticleList title="Featured Articles" featuredOnly />
</BaseLayout>
