---
import ArticleList from "../components/ArticleList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CTABtn from "../components/CTABtn.astro";
import Section from "../components/Section.astro";
import Link from "../components/link.astro";
const pageTitle = "Joshua Coquia";
---
<BaseLayout pageTitle={pageTitle}>
	<section class="bg-oceanblue-950 px-12 lg:px-20 py-6 w-auto" id="hero">
		<h2 class="text-3xl lg:text-4xl font-bold font-montserrat">Joshua Coquia</h2>
		<p class="text-xl lg:text-2xl mb-8 font-montserrat">Lifelong Learner—Recording the journey.</p>
		<div class="grid md:grid-cols-[repeat(2,max-content)] gap-3 w-fit">
			<CTABtn bgcolor="accent" textcolor="background" href="/about">About Me</CTABtn><CTABtn bgcolor="secondary" textcolor="background" href="mailto:joshua.coquia@hotmail.com">Contact Me</CTABtn>
		</div>
	</section>
	<Section title="Hi, I'm Joshua Coquia.">
		<p>I am a lifelong learner, and I focus on learning skills. I use this website to document my journey in mastering these skills. I hope <Link href="/about">my journey</Link> inspires you to improve your own life.</p>
	</Section>
	<ArticleList title="Featured Articles" featuredOnly columns={1} prose/>
</BaseLayout>
