---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
const pageTitle = "Links";
import { getCollection } from "astro:content";
import CTABtn from "../components/CTABtn.astro";
const links = await getCollection('link', (link => {
    return link.data.hidden != true;
}));
---
<BaseLayout pageTitle={pageTitle} hidden>
	<Title pageTitle={pageTitle} />
    <Section>
        <nav>
            <ul class="lg:ps-0 text-center">
                {
                    links.map(link => (
                        <li><CTABtn bgcolor="secondary" textcolor="background" href={link.data.url}>{link.data.title}</CTABtn></li>
                    ))}
            </ul>
        </nav>
    </Section>
</BaseLayout>
