---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
interface Props {
    featuredOnly?: boolean;
    prose?: boolean;
    title?: string;
    columns?: 1 | 2 | 3 | 4 | 5;
}
const { title, featuredOnly, columns, prose } = Astro.props;
const articleData = await getCollection('article', (article => {
    return (featuredOnly ? article.data.featured : true) && // If (featuredOnly = true) only include featured articles.
    article.data.hidden != true && 
    article.data.draft != true; 
}));
let articleCollection = articleData.sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
const gridCols = [
    "",
    "lg:grid-cols-1",
    "lg:grid-cols-2",
    "lg:grid-cols-3",
    "lg:grid-cols-4",
    "lg:grid-cols-5",
]
import Articles from "./Articles.tsx";
---

<Section title={title} notprose={!prose}>
    <ul class:list={["lg:ps-0 grid auto-rows-min gap-8 mt-3", gridCols[columns!]]}>
        <Articles client:load articles={articleCollection}></Articles>
    </ul>
</Section>