---

---

<footer class="bg-text text-background">
    <div><p class="text-inherit">Thank you for visiting my website!</p></div>
    <div>
        <nav>
            <ul>
                <li><a class="text-inherit" href="/contact">Contact</a></li>
                <li><a class="text-inherit" href="/links">Links</a></li>
            </ul>
        </nav>
</footer>
