---

---
<footer class="grid grid-cols-2 items-center bg-text text-background px-12 py-2">
    <div><p class="text-inherit">Thank you for visiting my website!</p></div>
    <nav class="w-fit justify-self-end">
        <ul class="grid grid-cols-1 gap-x-12 w-fit">
            <li class="w-min"><a class="text-inherit" href="mailto:joshua.coquia@hotmail.com">Contact</a></li>
            <!-- <li class="w-min"><a class="text-inherit" href="/links">Links</a></li> -->
        </ul>
    </nav>
</footer>
