---

---

<footer>
    <div><p>Thank you for visiting my website!</p></div>
    <div>
        <nav>
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/links">Links</a></li>
            </ul>
        </nav>
</footer>
