---

---
<header class="grid grid-cols-2 items-center bg-primary px-10 py=2 h-16">
    <a class="text-2xl font-bold" href="/"><h1>Joshua Coquia</h1></a>
    <nav class="w-fit justify-self-end">
        <ul class="grid grid-cols-2 gap-x-12 w-fit">
            <li class="w-min"><a class="text-xl" href="/about">About</a></li>
            <li class="w-min"><a class="text-xl" href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>
