---

---
<header class="grid grid-cols-2 items-center bg-oceanblue-950 px-10 py-2 border-text border-b-2 font-montserrat">
    <a class="w-fit text-2.5xl lg:text-3xl font-bold font-sans" href="/"><h1>Joshua Coquia</h1></a>
    <nav class="w-fit justify-self-end">
        <ul class="grid max-md:grid-rows-2 md:grid-cols-2 gap-x-12 w-fit">
            <li class="w-min"><a class="text-2xl" href="/about">About</a></li>
            <li class="w-min"><a class="text-2xl" href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>
