---

---

<header>
    <div>
        <h1>Joshua Coquia</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>