---

---
<header class="bg-primary px-10 py=2">
    <div>
        <a href="/"><h1 class="text-2xl font-bold">Joshua Coquia</h1></a>
    </div>
    <nav class="">
        <ul>
            <li><a class="text-xl" href="/about">About</a></li>
            <li><a class="text-xl" href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>
