---
const { pageTitle } = Astro.props;
---
<section class="bg-oceanblue-950 px-10 lg:px-20 py-3 lg:py-6 w-auto border-text border-b-2" id="title">
    <h1 class="text-3xl lg:text-4xl font-bold">{pageTitle}</h2>
    <slot />
</section>