---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
	hidden?: Boolean;
	pageDescription?: string;
	pageTitle: string;
}
const { hidden, pageDescription, pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/styles.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pageDescription || "Lifelong Learner—Recording the journey."} />
		{hidden && <meta name="robots" content="noindex">}
		<script src="../components/firebase"></script>
		<title>{pageTitle ? pageTitle : "Joshua Coquia"}</title>
	</head>
	<body class="bg-oceanblue-950 text-text w-full min-h-screen flex flex-col justify-between">
		<Header />
		<main class="grid w-full gap-10 lg:gap-20 pb-10 lg:pb-20">
			<slot />
		</main>
		<div class="flex-grow"></div>
		<Footer />
	</body>
</html>
