---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	pageTitle: string;
	hidden?: Boolean;
}
const { pageTitle, hidden } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle ? pageTitle : "Joshua Coquia"}</title>
		{hidden && <meta name="robots" content="noindex">}
	</head>
	<body class="bg-background text-text min-h-screen flex flex-col justify-between">
		<Header />
		<slot />
		<div class="flex-grow"></div>
		<Footer />
	</body>
</html>
